body{
    background-color: rgb(244, 241, 238);
    margin: 40px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
h3{
    color: #444;
}
nav a{
    text-decoration: none;
    margin-right: 15px;
    color: darkblue;
    font-weight: bold;
}
nav a:hover{
    color: red;
}
ul a{
    text-decoration: none;
}
ul a:hover{
    opacity: 0.5;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid gray;
    padding: 8px;
}
th{
    background-color: #f4f4f4;
}
caption{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
tr:nth-child(even):hover{
    background-color: rgb(111, 136, 151);
}
input, select{
    padding: 8px;
    margin: 8px 0;
    width: 250px;
}
label{
    display: flex;
    margin-top: 10px;
    text-align: ;
}
input[type="checkbox"], input[type="radio"]{
    vertical-align: middle;
}
button{
    padding: 8px 16px;
    border: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
button[type="reset"]{
    background-color: darkred;
}
button:hover{
    background-color: black;
}
img{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
video{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}